{% extends 'base_layouts/base.html' %}
{% load static %}

{% block extra_head %}

{% include 'includes/extraStyles.html' %}

{% endblock %}


{% block navbar %}
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-outline-success">Logout</button>
    </a>
{% endblock %}

{% block body %}
    



    <!-- Main Section Start -->
		<div class="main-section">
			
			<!-- customer cover image -->
			 {% include 'includes/customerCover.html' %}

			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <!-- Load vendor sidebar here -->
						{% include 'includes/customerSidebar.html' %}

						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row">
											<div class="element-title has-border right-filters-row">
												<h5>Recent Orders</h5>
												
											</div>
										</div>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->


    
{% endblock %}

{% block extra_js %}

   {% include 'includes/extrajs.html' %}


{% endblock %}