
{% extends 'base_layouts/base.html' %}
{% load static %}

{% block body %}

<div class="container mt-5 mb-5">
    <div class="justify-content-center row">
        <div class="col-12 col-md-10">
            <div class="bg-dark p-3 px-5">
            <img src="{% static 'images/svg-icons/logo.svg' %}" alt="feastrove Logo" width="240">
            <p class="text-center float-end">
            <span class="badge rounded-pill text-bg-{% if order.status == 'New' %}info{% elif order.status == 'Accepted' or order.status == 'Completed' %}success{% else %}danger{% endif %} fs-6">{{ order.status }}</span></p>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <div class="bg-success-subtle p-5 pt-2">
                {% if order.status == 'New' %}
                <p class="text-info">Your order has been placed and is awaiting vendor acceptance.</p>
                {% elif order.status == 'Accepted' %}
                <p class="text-success">Your order has been accepted by the vendor and is being prepared.</p>

                {% elif order.status == 'Completed' %}
                <div class="d-flex flex-column flex-lg-row align-items-center gap-2">
                <p class="text-success m-0">Your order has been successfully completed and delivered. Thank you for shopping with us!</p>
                {% if not order.order_review.rating %}
                <button type="button" id="modal-button-rating" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Rate Now</button>
                {% endif %}
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Rate Your Order</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="col-form-label">Your Rating:</label>
                                <div class="rating">
                                    <!-- Notice that the stars are in reverse order -->
                                    <input type="radio" id="star5" name="rating" value="5">
                                    <label for="star5">&#9733;</label>
                                    <input type="radio" id="star4" name="rating" value="4">
                                    <label for="star4">&#9733;</label>
                                    <input type="radio" id="star3" name="rating" value="3">
                                    <label for="star3">&#9733;</label>
                                    <input type="radio" id="star2" name="rating" value="2">
                                    <label for="star2">&#9733;</label>
                                    <input type="radio" id="star1" name="rating" value="1">
                                    <label for="star1">&#9733;</label>
                                </div>
                            </div>
                            <div class="mb-3">
                              <label for="comment-text" class="col-form-label">Comments:</label>
                              <textarea class="form-control" id="comment-text"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" id="modal-close-button" data-bs-dismiss="modal">Close</button>
                          <button type="button" id="rate-now-button" class="btn btn-primary" disabled>Rate Now</button>
                        </div>
                      </div>
                    </div>
                </div>
                
                <div class="rating {% if not order.order_review.rating %}d-none {% endif %} mb-0" id="your-rating">
                    <!-- Notice that the stars are in reverse order -->
                    <input type="radio" id="star5" name="rating1" value="5" disabled>
                    <label for="star5" style="font-size:25px;">&#9733;</label>
                    <input type="radio" id="star4" name="rating1" value="4" disabled>
                    <label for="star4" style="font-size:25px;">&#9733;</label>
                    <input type="radio" id="star3" name="rating1" value="3" disabled>
                    <label for="star3" style="font-size:25px;">&#9733;</label>
                    <input type="radio" id="star2" name="rating1" value="2" disabled>
                    <label for="star2" style="font-size:25px;">&#9733;</label>
                    <input type="radio" id="star1" name="rating1" value="1" disabled>
                    <label for="star1" style="font-size:25px;">&#9733;</label>
                </div>

                {% elif order.status == 'Cancelled' %}
                <p class="text-danger">Your order has been cancelled by the vendor. Please contact support for further assistance if needed.</p>

                {% endif %}
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block">Order Date: </span><span class="fw-medium text-capitalize">{{ order.created_at }}</span>
                    </div>

                    <div>
                        <span class="d-block">Order No: </span><span class="fw-medium">{{ order.order_number }}</span>
                    </div>

                    <div>
                        <span class="d-block">Payment Method: </span><span class="fw-medium text-capitalize">{{ order.payment_method }}</span>
                    </div>

                    <div>
                        <span class="d-block">Transaction ID: </span><span class="fw-medium">{{ order.payment.transaction_id }}</span>
                    </div>

                </div>
                <hr>

                <h6 class="text-start px-2 mt-2 mb-0">Delivery Address:</h6>
                <div class="card mb-0 border-0 bg-success-subtle">

                    <div class="card-body pt-1">
                        <p class="card-text my-0">{{ order.address }},&nbsp{{ address.road_name }},&nbsp{% if address.landmark %}{{ address.landmark }}{% endif %}</p>
                        <p class="card-text my-0 text-capitalize"><span class="pe-2">mobile Number: {{ order.phone_number}}</span><span class="px-2">State: {{ order.state }}</span><spanclass="px-2">City: {{ order.city }}</span></p>
                        <p class="card-text mb-0">Pincode: {{ order.pincode }}</p>
                    </div>
                </div>
                <hr>

                <h6 class="text-start px-2 mt-2 mb-1">Ordered Items:</h6>
                {% for item in order_items %}
                    <div class="col pb-2">
                        <div class="card rounded flex-row bg-transparent">

                            
                            <img src="{{ item.fooditem.image.url }}"
                                    class="card-img-top" alt="..." height="125px" width="100px" style="max-width: 100px; padding:5px;">
                            
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="card-text fw-medium">{{ item.fooditem.food_title }}</h6>
                                    <h6 class="card-text fw-medium">₹{{ item.total_amount }}</h6>
                                </div>
                                <p class="card-text m-0 mb-1"> {{ item.fooditem.vendor.vendor_name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-body-secondary font-weight-bold">Price: <strong>₹{{ item.price }}</strong></h6>
                                    <h6 class="text-body-secondary font-weight-medium">Quantity: {{ item.quantity }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="">
                        {% if order.payment.status == 'COMPLETED' %}
    
                        <img src="{% static 'images/payment-logo/paid.png' %}" width="200px">
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column px-3 w-25">
                        <h6 class="text-center fw-medium">Summary</h6>
                        <div class="d-flex justify-content-between"><span>Subtotal: </span><span class="fw-medium">₹{{ order.total }}</span></div>
                        <div class="d-flex justify-content-between"><span>Tax: </span><span class="fw-medium">₹{{ order.total_tax }}</span></div>
                        {% if order.discount_amount %}
                        <div class="d-flex justify-content-between"><span>Discount: </span><span class="fw-medium">- ₹{{ order.discount_amount }}</span></div>
                        {% endif %}
                        <hr>
                        <div class="d-flex justify-content-between fw-bold"><span>Total: </span><span>₹{{ order.total_amount }}</span></div>
                    </div>
                </div>


            </div>
            
        </div>
    </div>

</div>

{% endblock %}


{% block extra_js %}

<script>
     // using jQuery
     function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
    let order_number = "{{ order.order_number }}";
    let url = "{% url 'reviewVendor' %}";

    $(document).ready(function() {
        // enable the rate now button when rating is clicked
        $('input[name="rating"]').on('change', function(){
            $('#rate-now-button').prop('disabled', false);
        });

        // when the rate now button click sending request to the server
        $('#rate-now-button').on('click', function(){
            let rating = $('input[name="rating"]:checked').val();
            let comment = $('#comment-text').val();

            // Send ajax request to the server
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'rating': rating,
                    'comment': comment,
                    'order_number': order_number,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (response) {
                    if (response.status === 'Success') {
                        $('#modal-button-rating').remove();
                        $('#exampleModal').hide();
                        $('#your-rating').removeClass("d-none");
                        $('#modal-close-button').click();
                        $(`#your-rating input[name="rating1"][value='${rating}']`).prop('checked', true);
                        Swal.fire({
                            title: "Thank you for your valuable feedback",
                            icon: "success"
                        })
                    }else if (response.status === 'Failed'){
                        Swal.fire({
                            title: response.message,
                            icon: "error"
                        })
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Something went wrong. Please try again later",
                        icon: "error"
                    })
                }
            })


        })
    });
</script>
{% if order.order_review.rating %}

<script>
    $(document).ready(function(){
        let rating = "{{ order.order_review.rating }}";
        $(`#your-rating input[name="rating1"][value='${rating}']`).prop('checked', true);
    })
</script>

{% endif %}

{% endblock %}