{% extends 'base_layouts/base.html' %}
{% load static %}

{% block extra_head %}

{% include 'includes/extraStyles.html' %}

{% endblock %}


{% block navbar %}
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-outline-success">Logout</button>
    </a>
{% endblock %}

{% block body %}
    



    <!-- Main Section Start -->
		<div class="main-section">
			
			<!-- customer cover image -->
			 {% include 'includes/customerCover.html' %}

			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <!-- Load vendor sidebar here -->
						{% include 'includes/customerSidebar.html' %}

						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">

                                    <h2>Reset Your Password</h2>
									<!-- My Restaurants Form Start -->
									{% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} text-center w-50 my-0 mx-auto" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form class="d-flex flex-column row-gap-3 p-4" action="{% url 'customerResetPassword' %}" method='POST'>
                    {% csrf_token %}

                    <div class="form-floating">
                        <input class="form-control form-control" name="password" type="password" placeholder="New Password"
                            required>
                        <label for="password">Password</label>
                    </div>

                    <div class="form-floating">
                        <input class="form-control form-control" name="confirm_password" type="password" required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-outline-success btn-lg py-2 w-50 fw-bold" type="submit">RESET</button>
                    </div>

                </form>
									
								
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->


    
{% endblock %}

{% block extra_js %}

   {% include 'includes/extrajs.html' %}


{% endblock %}