{% extends 'base_layouts/base.html' %}
{% load static %}

{% block extra_head %}
{% include 'includes/extraStyles.html' %}
{% endblock %}

{% block navbar %}
<div>
  {% if user.is_superadmin %}
  <a href="{% url 'myAccount' %}"><button class="btn btn-outline-success" type="submit">Admin Dashboard</button></a>
  <a href="{% url 'logout' %}"><button class="btn btn-outline-success">Logout</button></a>
  {% elif user.is_authenticated %}
  <a href="{% url 'myAccount' %}"><button class="btn btn-outline-success" type="submit">My Account</button></a>
  <a href="{% url 'logout' %}"><button class="btn btn-outline-success">Logout</button></a>
  {% else %}
  <a href="{% url 'login' %}"><button class="btn btn-outline-success" type="submit">Login</button></a>
  <a href="{% url 'registerUser' %}"><button class="btn btn-outline-success">Register</button></a>
  {% endif %}
</div>
{% endblock %}



{% block body %}
<div class="container my-3">
<button class="btn btn-secondary btn-sm" type="button" onclick="history.back()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
    height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</button>
<hr>
<div class="row justify-content-start">
    <!-- Image Section -->
    <div class="col-md-4">
        <div class="card">
            
            <!-- Availability Badge -->
            {% if food_item.is_available %}
            <img src="{{ food_item.image.url }}" class="card-img-top img-fluid" alt="{{ food_item.food_title }}" style="max-height:600px; width: auto;">
                <span class="badge bg-success position-absolute top-0 start-0 m-2">Available</span>
            {% else %}
            <img src="{{ food_item.image.url }}" class="card-img-top img-fluid" alt="{{ food_item.food_title }}" style="filter: grayscale(100%); max-height:600px; width: auto;">
                <span class="badge bg-danger position-absolute top-0 start-0 m-2">Not Available</span>
            {% endif %}
        </div>
    </div>
    
    <!-- Details Section -->
    <div class="col-md-6">
        <h1 class="mt-3">{{ food_item.food_title }}</h1>
        <p class="text-muted mb-1"><strong>Restaurant:</strong><br>{{ food_item.vendor.vendor_name }}</p>
        <p class="mb-3"><strong>Description:</strong><br>{{ food_item.description }}</p>
        <p class="mb-3"><strong>Price: </strong>₹{{ food_item.price }}</p>
        {% comment %} <div class="d-flex align-items-center mb-3">
            <p class="my-0 mr-2"><strong>Quantity: </strong></p>
            <a href="" class="subtract_from_cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFB30E" class="bi bi-dash-circle mr-3" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg></a>
            
            <label id="qty" class="my-0 mr-3 text-dark fw-medium">1</label>
            
            <a href="" class="" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFB30E" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg></a>
        </div> {% endcomment %}
        <div class="btn-group gap-2">
            <a href="#"><button type="button" class="btn btn-sm btn-outline-success add_to_cart" data-id="{{ food_item.slug }}" data-url="{% url 'addToCart' food_item.slug %}">Add To Cart</button></a>
            <a href="#"><button type="button" class="btn btn-sm btn-outline-success add_to_favourites" data-id="{{ food_item.slug }}" data-url="{% url 'customerAddFavourite' food_item.slug %}">Add To Favourites</button></a>
        </div>

    </div>

</div>
</div>
</div>




{% endblock %}


{% block extra_js %}
<script>
    // Add to Favourites
    jQuery(document).ready(function(){
        $('.add_to_favourites').on('click', function(e){
            e.preventDefault();
            let url = $(this).attr('data-url');

            $.ajax({
                type: 'GET',
                url: url,
                success: function(response){
                    if (response.status === 'Success'){
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "Go to Favourites"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = '/accounts/customer/favourites';
                            }
                        })
                    }
                    else {
                        Swal.fire({
                            title: response.message,
                            icon: "error",
                        })
                    }
                }
            })
        })
    })
</script>



{% endblock %}